h1,
h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  text-align: center;
}

h1 {
  margin-top: 40px;
  font-size: 2.3em;
}
h2 {
  margin-top: 70px;
  font-size: 1.75em;
  margin-bottom: 45px;
}

h3 {
    margin-bottom: 30px;
    font-family: "Inter";
    font-weight: normal;
    font-weight: 600;
    font-size: 1.3em;
    }

.featured_title {
    margin-top: 30px;
}

body {
  background-color: #ededed;
  background-image: url('../images/texture_line.svg');
  background-size: 20%, 90%;
  background-attachment: fixed;
  background-position: left top, top right;
  background-repeat: no-repeat;
}

p {
margin-bottom: 40px;
font-family: "Inter";
font-weight: normal;
font-weight: 400;
font-size: 0.8em;
line-height: 1.7;    
}

.logo {
  width: 180px;
}

.media_icons {
  width: 28px;
  height: auto;
  margin: 5px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.container_one {
    display: flex;
}
  
.container_two {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.logo-item {
    flex: 92%;
}

.hamburger-item {
    flex: 8%;
    margin-top: 21px;
    position: absolute;
    right: 17px;
}  

/*Navigation menu*/

nav,
#hamburger-menu {
  display: none;
}

nav a {
  display: block;
  color: black;
  text-decoration: underline;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-weight: 700;
  width: 118px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.hamburger-dropdown {
  width: 55px;
}

nav {
  background: #ffffff;
  padding: 20px;
  padding-right: 2px;
  border-radius: 20px;
  position: absolute;
  right: 0px;
  top: 45px;
}

nav img {
  width: 15px;
  background: #ffffff;
  padding-top: 10px;
}

.search_icon {
  padding-left: 28px;
}

.account_icon {
  padding-left: 17px;
}

.movies_icon {
  padding-left: 28px;
}

.help_icon {
  padding-left: 48px;
}
.log-out_icon {
  padding-left: 28px;
}

.home_icon {
    padding-left: 35px;
}

/*Products*/
    
.products_section {
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-gap: 0px
}

.product-container{
    height: 290px;
}

.product {
    border: 1px solid rgb(192, 192, 192);
    background: rgb(243, 243, 243);   
    height: 280px;
}

.view-info_button {
    margin-left: 38.5px;
    background-color: #373736;
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    box-shadow: 0.5px 2px 5px 2px rgb(65, 65, 65);
}

.product_image {
    margin-bottom: 22px;
    width: 190px;
    margin-top: 10px;
    margin-left: 5px;
}

.center_column-container {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 650px) {

body {
    background-image: url('../images/texture_spiral.svg'), url('../images/texture_line.svg');
    background-size: 65%, 15%;
    background-position: top right, top left;
}
.products_section {
    grid-template-columns: repeat(3,200px);
}

/*Navigation menu*/

nav {
    height: 35px;
    display: block;
    position: static;
    background-color: transparent;
}

.hamburger-dropdown {
    display: none;
}

nav a {
    display: inline;
    margin: 10px;
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 900;
}

.movies_text, .help_text {
    display: none;
}

.home_text {
    text-decoration: underline;
    padding-right: 15px;
}

nav img {
    width: 20px;
    background-color: transparent;
    margin-top: 0px;
}

.movies_icon, .help_icon {
    display: none;
  }

.home_icon, .search_icon, .account_icon, .log-out_icon {
    padding-left: 5px;
}

.search_text {
    margin-left: 0px;
}

.hamburger-item {
    margin-top: 0px;
    right: 0px;
}  

@media only screen and (min-width: 750px) {
  
    body {
        background-size: 65%, 13%;
    } 

    .products_section {
        grid-template-columns: repeat(3,230px);
    }
    .product_image {
        width: 220px;
        margin-left: 4px;
    }
    
    .product {
        height: 300px;
    }
    .product-container {
        height: 340px;
    }
    
    .view-info_button {
        margin-left: 53.5px;
    } 
}

@media only screen and (min-width: 800px) {

    body {
        background-size: 50%, 10%;
    }
}

@media only screen and (min-width: 1000px) {
  
    .products_section {
        grid-template-columns: repeat(4,230px);
    }
}

@media only screen and (min-width: 1280px) {

    body {
        background-size: 35%, 8%;
    }

    .logo {
        width: 170px;
        margin-left: 25px;
    }

    .products_section {
        grid-template-columns: repeat(5,230px);
    }

    .product_two {
        border: 1px solid rgb(192, 192, 192);
        background: rgb(250, 250, 250);  
        height: 330px;
    }

    .products_section_two {
        grid-template-columns: repeat(2,575px);
        display: grid;
        grid-gap: 0px
    }

    .product_image_two {
        width: 310px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        float: left;
    }

    .view-info_button_two {
        margin-left: 62px;
        background-color: #373736;
        padding: 12px 22px;
        border-radius: 25px;
        text-decoration: none;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        color: #ffffff;
        box-shadow: 0.5px 2px 5px 2px rgb(65, 65, 65);
    }
    
    .camera_icon {
        width: 65px;
        margin-left: 10px;
        margin-top: 25px;
    }
}